body {
		background-color: #dbb3b1;
	}
#Título {
	color: purple; text-align: center;
    font-size: 50px;
    font-style: garamond;
}

#Subtítulo {
	color: purple; text-align: left;
    font-size: 25px;
    font-style: garamond;
}

#Destacar {
	color: black; text-align: left;
    font-size: 15px;
    font-style: garamond;
}

.info {
    color: black; 
    text-align: justify;
    max-width:80%;
    font-size: 15px;
    font-style: garamond;
}
.info2 {
    color: black; 
    text-align: justify;
    max-width: 65% ;
    font-size: 15px;
    font-style: garamond;
}

img.Imagen{
    float: center;
    width: 350px;
    margin: 10px 10px;
    padding: 10px;
}

img.Imagen1{
    float: left;
    width: 280px;
    margin: 10px 10px;
    padding: 1px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #832e58;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #4f1c35;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.tabla {
	border: 1px solid;
	border-collapse: collapse;
	padding:5px;
	background: pink;
}
.tabla th {
	border:1px solid purple;
	padding:5px;
	background:pink;
}
.tabla td {
	border:1px solid purple;
	padding:5px;
	background: pink ; 
}

.tabla2 {
	margin: -280px 900px;
	border: 1px solid;
	border-collapse: collapse;
	padding:5px;
	background: pink;
}
.tabla2 th {
	border:1px solid purple;
	padding:5px;
	background:pink;
}
.tabla2 td {
	border:1px solid purple;
	padding:5px;
	background: pink ; 
}
